<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>


<%= form_with(url: "pages/pdf", method: "get") do %>
  <%= label_tag(:vehicle_1, "choose first vehicle:") %>
  <%= select_tag(:vehicle_1, options_for_select(@vehicle_select )) %>
  <%= submit_tag("Generate PDF") %>
<% end %>

