/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Europa Brush';
  src: url(asset-path("EuropaBrush-Regular.eot"));
  src: url(asset-path("EuropaBrush-Regular.eot?#iefix"))  format("embedded-opentype"),
        url(asset-path("EuropaBrush-Regular.woff2")) format("woff2"),
        url(asset-path("EuropaBrush-Regular.woff")) format("woff"),
        url(asset-path("EuropaBrush-Regular.ttf")) format("truetype"),      
        url(asset-path("EuropaBrush-Regular.svg#EuropaBrush-Regular")) format("svg");
  }


@import 'pdf';
@import 'pages';
