// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// form {
//   width: 100%;
// }
.form-splitter{
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  min-height: 80vh;
  background-color: rgba(139, 132, 150, 0.9 );
}

.frm-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
  align-items: center;
}

.frm-side div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.frm-side label {
  color: white;
}

.frm-side-one {
 margin-bottom: 5em;
}

.frm-side-two {
  margin-top: 5em;

}
